/************
Modal
*************/
.modal-content {
  margin-top: 20%;
}
.modal-footer {
  text-align: center;
}
.modal-footer button {
  width: 25%;
}

/************
Game Board
*************/
h1 {
  margin-top: 25px;
  margin-bottom: -15px;
}
#board {
  height: 402px;
  width: 404px;
  margin: 75px auto;

}

.squares {
  padding: 0;
  margin: 0;
}

.squares li {
  width: 134px;
  height: 134px;
  display: inline-block;
  margin: -4px -2px
}

.squares li:nth-child(2) {
  border-right: solid;
  border-left: solid;
}

.row2 {
  border-bottom: solid;
  border-top: solid;
}

.x {
  background: url('http://www.clipartbest.com/cliparts/7Ta/ogA/7TaogArBc.png') no-repeat center;
  background-size: 120px 120px;
}

.o {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Letter_o.svg/2000px-Letter_o.svg.png') no-repeat center;
  background-size: 120px 120px;
}
